body {
    margin: 0;
    padding: 0;
    font-family: "Encode Sans", sans-serif;
}

ol, ul {
    list-style: none;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(147, 147, 211);
}

header nav ul {
    display: flex;
    gap: 1.1em;
}

header a i {
    color: white;
    font-size: 2em;
    padding: 0.5em;
}

header nav ul li {
    color: white;
}

.imagen1 {
    width: 300px;
    height: 300px;  
}

.imagen2 {
    width: 100%;
}

footer {
    background-color: rgb(147, 147, 211);
    padding: 25px;
    clear: both;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.seccion1 {
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
}

div .seccion3 {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 5em;
    padding: 8em;
}

.imagen3, .imagen4 {
    width: 350px;
    height: 350px; 
    justify-content: center;
}


#check {
    display: none;
}

.checkbtn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;  
}

@media (max-width:768px) {
    header {
        background-color: burlywood;
    }

    .acerca-de {
        text-align: center;
    }

    .acerca-imag {
        margin-bottom: 40px;
    }
    h2.fuente-acento {
        text-align: center;
    }

    .checkbtn {
        display: block;
    }

    #encabezado {
        position: fixed;
        width: 100%;
    }

    #encabezado ul.menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center;
        
        top: 80px;
        left: -100%;
        transition: all 0.5s;
        overflow: hidden;
    }

    #check:checked ~ ul {
        left: 0%;
        display: block;
    }

    #encabezado nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #encabezado nav ul li a {
        font-size: 20px;
    }

    #check:checked ~ .checkbtn {
        color: #2c3e50;
    }

    .navbar {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        text-align: center;
        transition: all 0.5s;
        overflow: hidden;
    }

    .menu {
        padding: 0;
        display: block;
        margin-bottom: 150px;
    }

    .navbar .active {
        height: 100vh;
    }
    
    nav ul li {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding: 20px;
    }
}

/* ------------- CSS General ------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
    color: #5d6063;
    background-color: #eaedf0;
    font-family: "Helvetica", "WArial", sans-serif;
    font-size: 16px;
  }
  
  /* ------------- Encabezado Contacto ------------- */
  
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    margin: 10px auto;
    padding: 50px;
  }
  
  .form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  /* ------------- Formulario ------------- */
  
  .formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
  
    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
  }

  /* ------------- Campos del Formulario ------------- */

 .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
 }
  
  .form-row input[type="text"],
  .form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 3px;
    text-align: initial;
  }

  /* ------------- Para Pantallas de más de 700px ------------- */
 @media only screen and (min-width: 700px) {
    .form-header {
      padding: 50px;
    }
  
    .form-row {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 20px;
    }
    .form-row input[type="text"],
    .form-row input[type="email"] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: left;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
    .form-row textarea {
        width: 250px;
    }
    .form-row button {
        margin-left: 120px;
    }
  }

 .form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
  
  
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
  
  
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
  
    width: 100%;
}
  /* ------------- Para Pantallas de más de 700px ------------- */
  
  
 .form-row textarea {
      width: 250px;
    }

 .form-row button {
    font-size: 16px;
    font-weight: bold;
      
    color: #ffffff;
    background-color: #5995da;
      
    border: none;
    border-radius: 3px;
      
    padding: 10px 40px;
    cursor: pointer;
 }
      
 .form-row button:hover {
    background-color: #76aeed;
 }
      
 .form-row button:active {
    background-color: #407fc7;
 }

      
